name: workloads/{{NOME}} CI/CD

on:
  pull_request:
    branches: [develop, main]
    paths:
      - "workloads/{{NOME}}/**"
      - .github/workflows/workload-{{NOME}}-ci.yml
      - .github/workflows/terraform-reusable.yml
  push:
    branches: [develop, main]
    paths:
      - "workloads/{{NOME}}/**"
      - .github/workflows/workload-{{NOME}}-ci.yml
      - .github/workflows/terraform-reusable.yml

jobs:
  terraform:
    uses: ./.github/workflows/terraform-reusable.yml
    secrets: inherit
    with:
      working_directory: workloads/{{NOME}}/aws/infra
